.feedpostcard__container {
    position: relative;
}

.feedpostcard {
    width: 97%;
    border: 1px solid var(--gray-color);
    padding: 1rem;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.fd-profile--img {
    width: 5rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.fd-postcard__main {
    padding: 0 0 0 1rem;
    gap: 1rem;
    width: 100%;
}

.fd-postcard__top {
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.fd-postcard__top>.fd-postcard__modal-btn {
    margin-left: auto;
}

.fd-postcard__top>h1 {
    cursor: pointer;
}

.fd-postcard__top>h1:hover {
    color: #ababab;
}

.fd-postcard__subheadings {
    color: var(--gray-color);
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.fd-postcard__content {
    font-size: 1.4rem;
    font-weight: 500;
}

.fd-postcard__options {
    justify-content: space-between;
    color: var(--gray-color);
    font-weight: 500;
}

.fd-postcard__options span.material-icons {
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.fd-postcard__top .material-icons {
    margin-right: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5rem 0.75rem;
}

.fd-postcard__top>.material-icons:hover {
    background-color: var(--hover-color);
}

.fd-postcard__options>div {
    align-items: center;
}

.option--like:hover {
    color: var(--busy-color);
}

.post__liked {
    color: var(--busy-color);
}

.option--comment:hover {
    color: var(--primary-color);
}

.post__bookmarked {
    color: var(--input-primarycolor-valid);
}

.option--bookmark:hover {
    color: var(--input-primarycolor-valid);
}

.option--share:hover {
    color: var(--tertiary-color);
}

.options__modal {
    position: absolute;
    top: 2rem;
    right: 4rem;
    width: 7rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--background-color);
    align-content: center;
}

.options__modal>p {
    border: 1px solid var(--black-color);
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
}

.editpostmodal__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blur-color);
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.editpostmodal__container>div {
    width: 55%;
}

.show--pointer {
    cursor: pointer;
}