.footer {
    background-color: var(--black-color);
    padding: 2rem 0rem;
    text-align: center;
    color: var(--white-color);
    margin-top: 5rem;
}

.footer__links {
    align-items: center;
    justify-content: center;
}

.footer__socials {
    color: var(--white-color);
    padding: 2rem;
    font-size: 4rem;
}

.footer__socials:hover {
    text-shadow: 0 0 1rem var(--white-color);
}

hr {
    margin: 2rem;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, var(--black-color), var(--white-color), var(--black-color));
}